<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25936779408-u7ctijuvo2v7at1fav2hgb6r7976pl1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25936779408-u7ctijuvo2v7at1fav2hgb6r7976pl1b</string>
	<key>API_KEY</key>
	<string>AIzaSyD3fem--_MtkplO70S3EJbgStuXzfk_Y5s</string>
	<key>GCM_SENDER_ID</key>
	<string>25936779408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackerMoche</string>
	<key>PROJECT_ID</key>
	<string>trackermoche-beb07</string>
	<key>STORAGE_BUCKET</key>
	<string>trackermoche-beb07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25936779408:ios:c93a27edc97cebcee12015</string>
</dict>
</plist>